<% include ../partials/header.ejs %>

<h1>Games</h1>

<a href="/games/add" >Add a New Game</a>
<table class="table table-striped table-hover">
  <tr>
    <th>Title</th>
    <th>Developer</th>
    <th>Genre</th>
    <th>Year</th>
  </tr>
  <% for (var i = 0; i < games.length; i++) { %>
    <tr>
      <td><%= games[i].title %></td>
      <td><%= games[i].developer %></td>
      <td><%= games[i].genre %></td>
      <td><%= games[i].year %></td>
      <td>
        <a href="/games/<%= games[i]._id %>" class="btn btn-info">Edit</a>
        <a href="/games/delete/<%= games[i]._id %>" class="btn btn-danger confirmation">Delete</a>
      </td>
    </tr>
  <% } %>
</table>

<% include ../partials/footer.ejs %>
